* {
  font-family: "TheSansArabic", "OpenSans";
}

.btn:focus {
  box-shadow: none;
}

.btn-primary{
  color: #fff;
  background: $color-sub-green;
  padding: 0.3rem 2rem
}

section{
  margin-top: 4rem;
  margin-bottom: 2rem;
  
}

textarea{
  border: 1px solid $color-gray-light;
  border-radius: 8px;
  color: $color-gray-dark;
  padding: 1rem;
  min-height: 8rem;
}

.heading{
  color: $color-primary;
}

.heading-green{
  color: $color-primary-green;
}

.bold{
  font-weight: bold;
}

.radio {
  margin: 0 0.5rem;
  padding-inline-start: 1.6rem;
  position: relative;
  input[type="radio"]{
    display: none;
  }
  span{
    
    display: block;
    position: absolute;
    top: auto;
    right: 0;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid $color-primary-green;
    border-radius: 50%;
    
  }

  input[type="radio"]:checked ~ span{
    background-color: $color-primary-green;
    box-shadow: inset 0 0 1px 2px #fff;
  }

  // span::after{
  //   content: '';
  //   width: 0.9rem;
  //   height: 0.9rem;
  //   border-radius: 50%;
  //   background: $color-primary-green;
  //   display: block;
  //   align-content: center;
  //   text-align: center;
  // }
}

// Navigation

  // Nav-bar
  
.nav-item{
  position: relative;
  .dropdown-menu{
    text-align: center;
    border: none;
    border-bottom: 5px solid $color-sub-green;
    border-radius: 0 0 15px;
    box-shadow: 3px 3px 8px rgba($color: #000000, $alpha: 0.3);
    transition: all 0.6s ease-out;
    .dropdown-item{
      padding: 0.5rem 5rem;
      color: $color-primary;
      font-size: $fs-lg
    }

  }
}
.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  background-color: $color-primary-green;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover::after {
  opacity: 1;
}

.nav-item.active::after {
  opacity: 1;
}

  // Nav Tabs
.nav-tabs{
  border: none;
  justify-content: center;
  gap: 5%;
  .nav-item{
    border: none;
    .nav-link{
      border: none;
      color: $color-primary;
      font-weight: 300;
      font-size: $fs-xl;
    }

    .nav-link.active{
      font-weight: bold;
    }
  }
  .nav-item::after{
    background: $color-primary;
    height: 1.5px;
  }
  .nav-item:has(.nav-link.active)::after{
    opacity: 1;
  }
  
}

// Swiper
.slide-container{
  .slide-content{
    display: flex;
    align-items: center;
    .btn-slide{
      img{
        width: 50px;
      }
    }
    .card-wrapper{
      display: flex;
      justify-content: start;
      // gap: 15px;
      // flex-wrap: wrap;
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      padding: 0.5rem;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;
      .card{
        scroll-snap-align: center;
        flex-shrink: 0;
        margin: 0 10px;
        width: 220px;
        min-width: 215px;
        height: 230px;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
        border: none;
        border-radius:14px;
        text-align: center;
        .card-img{
          padding: 1rem 1rem 0;
          flex:1;
          img{
            height: 100px;
          }
        }

        .card-body{
          .card-title{
            font-size: $fs-lg;
            color: $color-gray-dark;
          }

          .card-sub-title{
            background: $color-gray-light;
            color: $color-primary;
            font-size: $fs-md;
            padding: 0.4rem 0.8rem;
            border-radius: 20px;
          }
        }
      }
    }

    .card-wrapper::-webkit-scrollbar {
      display: none;  /* Chrome, Safari and Opera */
    }
  }
}

// Horizontal Accordion
.h-accordion{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  position: absolute;
  background: transparent;
  top: -5px;
  right: 0px;
  height: calc(100% + 15px);
  width: 100%;

  .accordion-item.default{
    width: 0;

    .accordion-body{
      justify-content: flex-end;
      .accordion-title{
        margin-inline-end: 5rem;
      }
    }
  }
  .accordion-item{
    background: transparent;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5s ease;
    width: 80px;
    .accordion-header{
      min-width: 80px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $color-gray-light;
      box-shadow: -4px 0 6px -1px rgba(255, 255, 255, 0.8),
                      -2px 0 4px 0px rgba(0, 0, 0, 0.6);
      // border-right: 1px solid rgba($color: #d2d2d2, $alpha: 1);
      padding: 0 0.2rem;
      position: relative;
      .accordion-collapse-btn{
        cursor: pointer;
        position: absolute;
        text-align: center;
        margin: 0;
        transform: rotate(-90deg);
        max-width: 400px;
        min-width: 300px;
        padding: 1rem 0;
        color: $color-primary;
        font-size: $fs-x3;
        font-weight: bold;
      }
    }

    .accordion-body{
      margin: -5px -10px;
      display: flex;
      width: 0;
      opacity: 0;
      padding: 0;
      overflow: hidden;
      color: #fff;
      align-items: center;
      justify-content: space-between;
      gap: 5%;
      .accordion-title{
        margin: -5px -10px;
        height: calc(100% + 5px);
        width: fit-content;
        min-width: 350px;
        align-content: center;
        h1{
          font-size: 44px;
          text-align: center;
        }
        img{
          height: calc(100% + 5px);
        }
      }

      .accordion-content{
        padding: 2rem 4rem;
        font-size: $fs-lg;
      }

      .accordion-content.quotes{
        margin: 2rem 6rem;
        line-height: 40px;
        font-weight: 400;
        font-size: $fs-xl;
        max-width: 700px;
        text-align: justify;
        
        position: relative;
        .quote-speaker{
          color: $color-primary-green;
          font-size: $fs-normal;
          font-weight: 400;
          line-height: 20px;
          span{
            display: block;
          }

        }
        .bar{
          position: absolute;
          background-color: $color-primary-green;
          
        }

        .bar-top{
          left: 0;
          top: 0;
          height: 0.25rem;
          width: 90%;
        }

        .bar-bottom{
          right: 0;
          bottom: 0;
          height: 0.25rem;
          width: 90%;
        }

        .bar-left{
          left: 0;
          top: 0;
          width: 0.25rem;
          height: 85%;
        }

        .bar-right{
          right: 0;
          bottom: 0;
          width: 0.25rem;
          height: 85%;
        }
      }

      .accordion-content.quotes::before,
      .accordion-content.quotes::after{
        content: '';
        position: absolute;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .accordion-content.quotes::before{
        width: 80px;
        height: 60px;
        background-image: url('../imgs/icons/qoute-right.svg');
        top: -20px;
        right: -20px;

        
      }
      .accordion-content.quotes::after{
        width: 75px;
        height: 60px;
        background-image: url('../imgs/icons/qoute-left.svg');
        bottom: -25px;
        left: -15px;
      }

      .card-wrapper{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        max-width: 1400px;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        column-gap: 4%;
        .card-circular{
          padding: 1rem;
          width: 150px;
          height: 150px;
          border: 7px solid $color-primary-green;
          border-radius: 50%;
          text-align: center;
          align-content: center;
        }
      }
    }

  }
  .accordion-item.show{
    width: 100%;
    transition: all 0.5s ease;
    .accordion-header{
      border-radius: 0 20px 20px 0;
    }
    .accordion-body{
      transition: opacity 0.5s ease 0.5s;
      width: 100%;
      height: calc(100% + 5px);
      opacity: 1;
    }
  }

  .accordion-item.close{
    .accordion-header{
      box-shadow: none !important;
      border-radius: 20px 0 0 20px;
    }
  }
}

//header

.header {
  position: relative;
  font-weight: 400;
  height: 800px;
  background-image: url('../imgs/gallery/hero.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3rem;
  .head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 5px solid $color-primary-green;
    background-color: #fff;
    padding: 1em 0;
    .navbar {
      padding: 0;

      .container-fluid {
        font-size: $fs-normal;
        padding: 0;

        .navbar-brand {
          padding: 0 0.2rem;
          margin: 0;

          .logo {
            max-width: 100px;
          }
        }

        .navbar-toggler {
          .navbar-toggler-icon {
            color: $color-primary;
          }
        }

        .navbar-toggler:focus {
          box-shadow: none;
        }

        .collapse {
          .navbar-nav {
            padding: 0;
            flex: 1;
            gap: 0.5rem;

            .nav-item {
              padding: 0.3rem;
              cursor: pointer;
              position: relative;

              .nav-link {
                color: $color-primary;
                line-height: 21px;

                svg {
                  margin-inline-start: 5px;
                }
              }

              .nav-link::after {
                display: none;
              }
            }

            
          }

          .btn-search-icon {
            padding: 0;

            svg {
              color: $color-primary;
              width: 1.5rem;
              height: 1.5rem;
              stroke: $color-primary;
            }
          }

          .btn-signin {
            font-size: $fs-normal;
            color: $color-primary;
            padding: 0.5rem 2rem;
            border: 1px solid $color-primary;
            border-radius: 8px;
          }

          .btn-signin:hover {
            color: #fff;
            background: $color-primary;
          }
        }
      }
    }
  }

  .head.transparent{
    background: rgba($color: #000000, $alpha: 0.8);
    border: none;
    .collapse{
      .nav-item{
        .nav-link{
          color: #fff !important;
        }
      }

      .nav-item::after{
        background: #fff !important;
      }

      .btn-search-icon{
        svg{
          stroke: #fff !important;
        }
      }

      .btn-signin{
        color: #fff !important;
        border-color: #fff !important;
      }
      .btn-signin:hover{
        background: none !important;
      }
    }

    .navbar-toggler {
      .navbar-toggler-icon {
        color: #fff !important;
      }
    }

  }
}

// E-services
.e-services{
  margin-top: 4rem;
  margin-bottom: 2rem;
  .head{
    h3{
      color: $color-primary;
      font-weight: bold;
      margin-bottom: 1.5rem;
      margin-inline-start: 1rem;
    }
  }
  
  .e-services-body{
    .e-services-tabs{
      

      }
    }
}

// About
.about{
  height: 440px;
  background-image: url('../imgs/patterns/about-pattern.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.news{
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: $color-primary;
  overflow: hidden;

  .head{
    margin-bottom: 2rem;
   h3{
    display: inline-block;
    border-bottom: 2px solid $color-primary;
    padding: 0.25rem 0.5rem;
   }
  }

  .slide-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    .slide-content{
      width: 100%;
      .card{
        width: 350px !important;
        height: 350px !important;
        box-shadow: none;
        text-align: start;
        
        .card-img{
          width: 100%;
          padding: 0;
          img{
            width: 100%;
            height: 220px;
            
          }
        }

        .card-body{
          padding: 0.5rem;
          
          p{
            margin: 0;
          }
          .card-title{
            color: $color-primary;
            font-size: $fs-normal;
            
          }

          .news-date-time{
            color: $color-gary-normal;
            font-size: $fs-md;
          }

          .news-link{
            margin-top: 1rem;
            color: $color-sub-green;
            font-size: $fs-normal;
          }
        }
       }
    }
  }
}

.region-map{
  height: 800px;
  background-image: url('../imgs/gallery/map.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  margin-bottom: 0;
  .map{
    padding: 2rem;
    width: 50%;
    display: flex;
    justify-content: center;
    svg{


      .gobail-region{
        transition: fill 0.5s ease-in-out;
        
      }

      .gobail-region.active{
        fill: $color-primary-green;
      }
      .gobail-region:hover{
        fill: $color-primary-green;
        cursor: pointer;
      }
    }
  }

  .region-info{
    width: 0;
    opacity: 0;
    height: 100%;
    background: rgba($color: $color-sub-green-light, $alpha: 0.7);
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    transition: opacity 0.5s ease, width 0.3s ease 0.2s, height 0.3s ease 0.2s;
    .nav-tabs{
      justify-content: center;
      width: fit-content;
      padding: 0 !important;
      gap: 0 !important;
      height: fit-content;
      border-bottom: 4px solid #fff;
      .nav-item{
        height: fit-content;
        padding: 0 1rem;
        
        .nav-link{
          color: #fff !important;
          border: none !important;
          font-weight: 500 !important;
        }
        .nav-link.active{
          background: transparent;
        }
      }
      .nav-item::after{
        bottom: -4px;
        height: 4px;
      }
    }

    .tab-content{
      width: 80%;
      padding: 1rem;
      
      .tab-body{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
          width: 90%;
          object-fit: cover;
        }
        .stats{
          display: flex;
          color: #fff;
          justify-content: space-between;
          width: 80%;
          .stats-card{
            text-align: center;
          }
          border-bottom: 2px solid #fff;
        }

        .tab-content-info{
          color: #fff;
          text-align: justify;
          font-size: $fs-xl;
          line-height: 40px;
          padding-top: 2rem;
        }
      }
    }
  }

  .region-info.show{
    width: 50%;
    padding: 3rem 4rem;
    opacity: 1;
    transition: opacity 0.5s ease 0.2s, width 0.3s ease, height 0.3s ease;
  }
}

.about-platform{
  margin: 0;
  background-color: rgba($color: #4281C6, $alpha: 0.03);
  background-image: url('../imgs/patterns/about-platform.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 4rem;
  .about-content{
    padding: 4rem 1rem;
    .about-title{
      color: $color-primary;
      margin-block-end: 2rem;
    }

    .about-info{
      padding: 0 0 0 3rem;
      font-size: $fs-x2;
      line-height: 50px;
    }
  }

  .about-stats{
    .col-12{
      .card{
        margin: 0 auto;
      }
    }
    .card{
      text-align: center;
      border: none;
      border-radius: 6px;
      box-shadow: 0 0 6px 1px rgba($color: $color-gray-light, $alpha: 0.8);
      padding: 0.8rem 1.5rem;
      min-width: 230px;
      max-width: 300px;
      .card-title{
        color: $color-primary-green;
        font-weight: bold;
      }

      .card-text{
        color: $color-gray-dark;
        font-weight: bold;
      }
    }
  }
}

.footer{
  margin-top: 4rem;
  padding-top: 4rem;
  background-color: $color-primary;
  background-image: url('../imgs/patterns/footer-pattern-2.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  color: #fff;
  .footer-links{
    border-bottom: 1px solid #fff;
  }
  
  .list-group{
    
    .list-group-item{
      width: auto;
      padding: 0.5rem;
      background: transparent;
      color: #fff;
      border: none;
      svg{
        margin-inline-end: 0.5rem;
      }
    }
  }

  .vision-logo{
    max-width: 120px;
  }

  .socials{
    gap: 2.2rem;
  }
}
