// Colors
$color-primary: #243F8A;
$color-sub-green: #098EA0;
$color-sub-green-light: #1DA2B4;
$color-primary-green: #49bcbc;
$color-gray-dark: #2c2c2c;
$color-gray-light: #DDE2E5;
$color-gary-normal: #ADA9AE;




// Fonts
$font-light:300;
$font-regular: 400;
$font-bold: 800;
$fs-xs: 10px;
$fs-sm: 12px;
$fs-md: 14px;
$fs-normal: 16px;
$fs-lg:18px;
$fs-xl: 20px;
$fs-x2:22px;
$fs-x3:24px;
$fs-x4:26px;